<form [formGroup]="form" (ngSubmit)="save()" fxLayoutGap="10px">
  <mat-form-field>
    <input matInput formControlName="firstName" placeholder="First Name" required>
    <mat-error>Required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="lastName" placeholder="Last Name" required>
    <mat-error>Required</mat-error>
  </mat-form-field>
  <app-address formControlName="address"></app-address>
  
  <p>
    Parent Address Control Touched: {{ form.get('address').touched }}
  </p>
  <button mat-raised-button color="primary" type="submit">Touch Address Control</button>
</form>

<h4>
  Repro Steps:
  <pre>
    Don't type anything in and click "Touch Address Control".
    This is simply calling "markAsTouched()" on the address
    control.
    
    <u>Expected behavior</u>: The OnTouched() method of the 
    AddressComponent would trigger, setting the "false" value
    to "true".

    <u>Current Behavior</u>: Only the top-level form control
    named "address" is marked as touched. That change is not
    propagated to the actual component via the ControlValueAccessor.

  </pre>
</h4>