<form [formGroup]="form" (ngSubmit)="save()" fxLayoutGap="10px">
  <mat-form-field>
    <input matInput formControlName="firstName" placeholder="First Name" required>
    <mat-error>Required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="lastName" placeholder="Last Name" required>
    <mat-error>Required</mat-error>
  </mat-form-field>
  <app-address formControlName="address"></app-address>
  <p style="margin:0;">
    Parent Address Control Touched: {{ form.get('address').touched }}
  </p>
  <button mat-raised-button color="primary" type="submit">Touch Address Control</button>
</form>

<h4>
  <pre>
    Don't type anything in and click "Save".
    
    <u>Expected behavior</u>: All form controls 
    with an error turn red and show their error message.

    <u>Current Behavior</u>: Only the top-level FormControls 
    show error messages.

    The address fields are implemented via the 
    ControlValueAccessor, which exposes a RegisterOnTouched 
    callback. Calling form.get('address').markAsTouched()
    does not call that method.
  </pre>
</h4>